<%= form_for(@presenter.book_record, remote: true,
             html: { class: 'horizontal-form' }) do |f| %>
   <div class="modal-body">
     <div class='col-sm-8'>
       <div class='form-group'>
         <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
       </div>

       <div class='form-group'>
         <%= f.text_field :author, class: 'form-control', placeholder: 'Author' %>
       </div>

       <div class='form-group'>
         <%= f.text_area :description, class: 'form-control', placeholder: 'Description, Summary, Review...' %>
       </div>

       <div class='form-group'>
         <%= f.text_field :amazon_id, class: 'form-control', placeholder: 'Amazon ID' %>
       </div>

       <br>
       <div class='form-group'>
         <%= f.submit class: 'btn btn-warning' %>
       </div>
     </div>

     <div class='col-sm-4'>
       <div class='form-group'>
         <%= f.label :genre_ids, 'Genres', class: 'control-label col-lg-12' %>
         <%= f.collection_select :genre_ids, @presenter.genres, :id, :name, {}, { multiple: true } %>
       </div>

       <div class='form-group'>
         <%= f.label :rating, class: 'control-label col-lg-5' %>
         <div class="col-lg-7">
           <%= f.select(:rating, @presenter.class::RATINGS_RANGE,
                        { include_blank: true },
                        { class: "form-control" })  %>
       </div>
       </div>
     </div>
   </div>
 <% end %>
